* {
    box-sizing: border-box
} 

body {
    background-color: rgb(22, 22, 22);
    color: white;
}

/* light mode-add js */
.light-mode {
    background-color: white;
    color: rgb(22, 22, 22)
}

/* header */ 
.navbar-container {
    display: flex;
    border: 2px red solid;
}

.logo-pic {
    height: 100%;
    margin-right: 5px;
}

.nav-links {
    justify-content: flex-end; /* NOT WORKING but worked when i used it in the contact me section*/
    border: 2px green solid;
}

/* main container */

.main-container {
    border: 5px black solid; /* why is it not 100%??? */
    width: 100%;
    padding: 0;
}

.col {
    border: 2px solid red;
}

/* About me row */

.about-me {
    border: 2px orange solid;
    margin-left: 0;
}

.profile-pic {
    width: 70%;
}

/* Carousel */
.carousel-main {
    border: blue 2px solid;
    margin-right: 1px;
    margin-left: 1px;
    display: flex;
    justify-content: center;
}

.carousel {
    border: 2px solid lightblue;
}

.col-12 {
    border: green 2px solid;
    margin-left: 0;
    margin-right: 0;
}

.carousel-inner {
    display: flex; 
}

.carousel-item {
    justify-content: center;
} 

.carousel-img {
    width: auto;
    height: 300px;
    justify-content: center;
    
}

.carousel-caption {
    background-color: rgba(61, 61, 61, 0.945);
    margin-bottom: -14px;
    padding: 2px;
}

.carousel-control-next-icon {
/*how to change icon colors */
}


/* Work rows */
.my-main-work {
    border: 2px solid orange;
    margin-left: 0;
    position: relative;
}

.main-work-pic {
    width: 90%;
    margin-left: 4.5%;
}

.main-work-description {
    border: aqua 2px solid;
    color: black;
    background-color: white;
    width: 25%;
    z-index: 10;
    position: absolute;
    bottom: 15%;
    margin-left: 4.5%;
}

.my-other-work {
    border: 2px solid orange;
    margin-left: 0;
}

.work-pic {
    border: 6px gray solid;
    width: 90%;
    height: 90%;
    margin-top: 3%;
    margin-left: 4.5%;
}

.other-work-description {
    border: aqua 2px solid;
    color: black;    
    background-color: white;
    width: 35%;
    z-index: 10;
    position: absolute;
    bottom: 15%;
    margin-left: 4.5%;
    padding-bottom: 0;
}

.other-work-description h3 {
    font-size: 18px;
    line-height: 1;
}

.other-work-description p {
    line-height: 1;
}

/* contact me row vs footer */

.contact-me-container {
    border: 2px solid orange;
    margin-left: 0;
    align-items: center;

}

.left-titles h2  {
    border: 5px pink solid;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
}


.contact-links {
    border: 2px green solid;
    justify-content: space-around;
}

.contact-item {
    font-size: 20px;
    border: 2px solid purple;
}

.nav-link {
    color: white;
    /* how to override this so light mode turns the font black??? */
}