/* header */ 
.navbar-container {
    display: flex;
    border: 2px red solid;
}

.logo-pic {
    height: 100%;
    margin-right: 5px;
}

.nav-links {
    justify-content: flex-end; /* NOT WORKING but worked when i used it in the contact me section*/
    border: 2px green solid;
}

/* main container */

.main-container {
    border: 2px black solid; /* why is it not 100%??? */
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0;
}

.col {
    border: 2px solid red;
}

/* About me row */

.about-me {
    border: 2px orange solid;
    margin-left: 0;
}



/* Work rows */
.my-main-work {
    border: 2px solid orange;
    margin-left: 0;
    position: relative;
}

.main-work-pic {
    width: 90%;
    margin-left: 4.5%;
}

.main-work-description {
    border: aqua 2px solid;
    background: white;
    width: 25%;
    z-index: 10;
    position: absolute;
    bottom: 15%;
    margin-left: 4.5%;
}

.my-other-work {
    border: 2px solid orange;
    margin-left: 0;
}

.work-pic {
    border: 6px gray solid;
    width: 90%;
    height: 90%;
    margin-top: 3%;
    margin-left: 4.5%;
}

.other-work-description {
    border: aqua 2px solid;
    background: white;
    width: 35%;
    z-index: 10;
    position: absolute;
    bottom: 15%;
    margin-left: 4.5%;
    padding-bottom: 0;
}

.other-work-description h3 {
    font-size: 18px;
    line-height: 1;
}

.other-work-description p {
    line-height: 1;
}

/* contact me row vs footer */

.contact-me-container {
    border: 2px solid orange;
    margin-left: 0;
    align-items: center;

}

.contact-title  {
    border: 5px pink solid;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
}


.contact-links {
    border: 2px green solid;
    justify-content: space-around;
}

.contact-item {
    font-size: 20px;
    border: 2px solid purple;
}

.nav-link {
    color: black;
}